################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompanyWebsite/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/CompanyWebsite/CompanyWebsite/obj/Debug
/CompanyWebsite/CompanyWebsite/bin
/CompanyWebsite/.vs/CompanyWebsite/v14/.suo
/CompanyWebsite/CompanyWebsite/bower_components
/CompanyWebsite/CompanyWebsite/App/concat.min.js
/node_modules/.bin
/CompanyWebsite/CompanyWebsite/node_modules
/node_modules
