

<!--<link href="../../../Css/webStyles.css" rel="stylesheet" />
<link href="../../../Css/bootstrap.min.css" rel="stylesheet" />
<script src="../../../Scripts/bootstrap.min.js"></script>-->
<div class="container">
    <div class="row">
        <!--Carousel-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../../../img/prods/Intel_Reader_ProductShot.jpg" style="height:300px;width:1000px;" alt="Intel Reader" />
                </div>

                <div class="item">
                    <img src="../../../img/prods/Samsung-ATIV-Tab-Product-Image-5.jpg" style="height:300px;width:1000px;" alt="Samsung Tabs" />
                </div>

                <div class="item">

                    <img src="../../../img/prods/yellow-spotlight-product-group.jpg" style="height:300px;width:1000px;" alt="Spotlight" />
                </div>

                <div class="item">
                    <img src="../../../img/prods/product-images-phone.jpg" style="height:300px;width:1000px;" alt="Phones" />
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
